<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\python\python.exe"
                  arguments="%HOME%\python\lib\site-packages\wfastcgi.py --process-group --log-to-console=true --http-socket-timeout=3600 --socket-timeout=3600 --debug=true --threaded=true --wsgi-file %HOME%\site\wwwroot\wsgi.py --callable app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\stdout.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot;%HOME%\python\lib\site-packages;%HOME%\python\lib\site-packages\wfastcgi.py" />
      </environmentVariables>
    </httpPlatform>
  </system